<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,175},{28,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{28,28}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>food12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,178},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{40,40}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>food13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,380},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{54,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>food14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,348},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>food15.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{68,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{106,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food21.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,175},{28,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{28,28}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>food22.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,178},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{40,40}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>food23.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,380},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{54,54}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>food24.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,284},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{62,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>food25.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,108},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{68,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food26.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{104,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food31.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,66},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>food32.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>food33.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>food34.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,436},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>food35.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,298},{76,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{76,76}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{106,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food41.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,72},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>food42.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>food43.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,220},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>food44.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,436},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>food45.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,300},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{78,78}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food46.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,112},{100,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food51.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,72},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>food52.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>food53.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,412},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{60,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>food54.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,436},{68,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{68,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>food55.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,220},{76,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{76,76}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food61.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,72},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>food62.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,376},{48,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>food63.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>food64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>food65.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,220},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{78,78}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>food66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>movefood.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,106},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foods.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a954b0ee8208161dc7f3089cc088c11a$</string>
            <key>textureFileName</key>
            <string>foods.png</string>
        </dict>
    </dict>
</plist>
