<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,656},{74,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,59}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
            <key>9bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,793},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>bad_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,757},{208,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,30}}</string>
                <key>sourceSize</key>
                <string>{214,32}</string>
            </dict>
            <key>button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,778},{238,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,87}}</string>
                <key>sourceSize</key>
                <string>{238,87}</string>
            </dict>
            <key>button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,778},{238,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,87}}</string>
                <key>sourceSize</key>
                <string>{238,87}</string>
            </dict>
            <key>button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,655},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>button_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,460},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,928},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>button_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,844},{173,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,69}}</string>
                <key>sourceSize</key>
                <string>{177,71}</string>
            </dict>
            <key>headimg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,742},{84,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{84,101}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,222},{96,103}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{96,103}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,515},{98,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,101}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,654},{70,101}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{70,101}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,655},{74,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{74,95}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,324},{82,103}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{82,103}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,360},{94,93}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{94,93}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>headimg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,560},{80,93}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{80,93}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>mg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,527},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>mg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,18},{124,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{547,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,8}}</string>
                <key>sourceSize</key>
                <string>{547,8}</string>
            </dict>
            <key>mg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,368},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,849},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>mg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,653},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>mg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,928},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,849},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>mg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,793},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>mg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,646},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>mg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,793},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,4},{436,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,350}}</string>
                <key>sourceSize</key>
                <string>{436,350}</string>
            </dict>
            <key>mg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,527},{57,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,296}}</string>
                <key>sourceSize</key>
                <string>{57,296}</string>
            </dict>
            <key>mg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,148},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>mg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,619},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>mg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,590},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>mg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,585},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>mg_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,481},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>mg_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,447},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>mg_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,412},{142,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,29}}</string>
                <key>sourceSize</key>
                <string>{142,29}</string>
            </dict>
            <key>mg_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,324},{142,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,28}}</string>
                <key>sourceSize</key>
                <string>{142,28}</string>
            </dict>
            <key>mg_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,619},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>mg_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,619},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>mg_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,183},{109,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,33}}</string>
                <key>sourceSize</key>
                <string>{109,33}</string>
            </dict>
            <key>mg_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,515},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>piece_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,98},{15,24}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>piece_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,793},{70,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,50}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>piece_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,37},{15,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{15,25}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>piece_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,590},{61,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{61,58}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>piece_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,222},{25,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>piece_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,262},{25,33}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,33}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>piece_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,4},{19,27}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,27}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>piece_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,68},{15,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{15,24}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>piece_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,793},{33,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{33,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>piece_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,318},{34,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{34,44}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>sy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,569},{364,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,203}}</string>
                <key>sourceSize</key>
                <string>{364,203}</string>
            </dict>
            <key>sy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,360},{364,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,203}}</string>
                <key>sourceSize</key>
                <string>{364,203}</string>
            </dict>
            <key>sy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{364,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,203}}</string>
                <key>sourceSize</key>
                <string>{364,203}</string>
            </dict>
            <key>tip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,472},{279,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{279,31}}</string>
                <key>sourceSize</key>
                <string>{285,33}</string>
            </dict>
            <key>txt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,18},{405,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,294}}</string>
                <key>sourceSize</key>
                <string>{405,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameset.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cc3a6267bcd5bf79d363c173934b6bc$</string>
            <key>textureFileName</key>
            <string>gameset.png</string>
        </dict>
    </dict>
</plist>
