<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snake_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_10_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,113},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>snake_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_1_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>snake_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,275},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,263},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,249},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,205},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_2_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>snake_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,166},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,162},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,162},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,227},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_3_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>snake_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,227},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,215},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,179},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_4_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,74},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>snake_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,179},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,201},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,157},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_5_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,55},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>snake_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,167},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,153},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,118},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,114},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_6_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,50},{61,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>snake_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,66},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,66},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,66},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,66},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_7_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>snake_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,109},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,109},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,109},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,109},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_8_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,98},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>snake_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,66},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,127},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,127},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_9_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>snake_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_w_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,205},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,227},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,179},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{46,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,73}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>snake_w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{46,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,73}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>snake_w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,50},{46,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,69}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>snake_w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,109},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>snake_w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,127},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snakePack1_new.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58fabfaeaa37969697830c08fac6fa3c$</string>
            <key>textureFileName</key>
            <string>snakePack1_new.png</string>
        </dict>
    </dict>
</plist>
