<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brown0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,216},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,212},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,148},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,144},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,66},{68,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,76},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,68},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,68},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,658},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,658},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,818},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,736},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,494},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,412},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,330},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,576},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,900},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,658},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,80},{72,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{70,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,576},{68,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{68,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,78},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,144},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,154},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>brown0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,216},{64,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>common0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{62,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{64,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,736},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,646},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{72,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,830},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,554},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,738},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,922},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,738},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,646},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,830},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,922},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,736},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,822},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{68,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{64,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{62,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newyear0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,248},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,494},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,412},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,330},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,248},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,166},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,84},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,900},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,818},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,736},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,576},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,494},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,412},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,330},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,904},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,822},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,906},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,248},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,166},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,84},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,736},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,576},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>newyear0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,248},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>speedUp.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf992604867bc0b04f88fcb37988dda1:1/1$</string>
            <key>textureFileName</key>
            <string>speedUp.png</string>
        </dict>
    </dict>
</plist>
